* {
  margin: 0;
  padding: 0;
}

#loader {
  background: #262626;
  height: 100vh;
}

#loader .cup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border: 6px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(../water.png) repeat-x;
  -webkit-animation: animateLoader 10s linear infinite;
          animation: animateLoader 10s linear infinite;
  -webkit-box-shadow: 0 0 0 6px #fff, 0 20px 35px black;
          box-shadow: 0 0 0 6px #fff, 0 20px 35px black;
}

#loader .cup:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #fff;
  right: -68px;
  top: 30px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

@-webkit-keyframes animateLoader {
  0% {
    background-position: 0 100px;
  }
  10% {
    background-position: 0 100px;
  }
  40% {
    background-position: 1000px -70px;
  }
  80% {
    background-position: 2000px -200px;
  }
  100% {
    background-position: 3000px 100px;
  }
}

@keyframes animateLoader {
  0% {
    background-position: 0 100px;
  }
  10% {
    background-position: 0 100px;
  }
  40% {
    background-position: 1000px -70px;
  }
  80% {
    background-position: 2000px -200px;
  }
  100% {
    background-position: 3000px 100px;
  }
}
